[submodule "vendor"]
	path = vendor
	url = git://github.com/mozilla/playdoh-lib.git
[submodule "vendor-local/funfactory"]
	path = vendor-local/funfactory
	url = https://github.com/mozilla/funfactory.git
